*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  height: 100vh;
  display: flex;
flex-direction: column;
gap: 20px;
}

section{
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 20px;
    border: solid 1px #000000;
    padding: 20px;
}
